@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 10px;
}

.container {
    max-width: 970px;
    width: 90%;
    margin: auto;
}

/* ######## header ######## */

.header {
    height: 95vh;
    background: radial-gradient(circle at 10% 20%, rgba(0, 0, 0, 0.527) 0%, rgba(64, 64, 64, 0.548) 90.2%), url(./images/trees.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
}

/* navbar */
.navbar {
    color: rgb(248, 255, 248);
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 3rem;
    letter-spacing: 3px;
}

.menu-items {
    list-style-type: none;
    display: flex;
    gap: 25px;
    font-size: 1.6rem;
}

.menu-items a {
    cursor: pointer;
    color: rgb(248, 255, 248);
    text-decoration: none;
    letter-spacing: 1px;
}

.menu-items li::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s;
    transform-origin: right;
}

.menu-items li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* header content */
.header-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgb(248, 255, 248);
    text-align: center;
}

.header-content h1 {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.header-content p {
    font-size: 1.6rem;
    opacity: 0.8;
    margin-bottom: 15px;
}

.header-content button {
    padding: 10px 20px;
    border: 2px solid rgb(248, 255, 248);
    color: rgb(248, 255, 248);
    background: none;
    font-weight: 600;
    letter-spacing: 2px;
    transition-property: background, color;
    transition-duration: 0.3s;
}

.header-content button:hover {
    background: rgb(248, 255, 248);
    color: rgb(80, 97, 80);
    cursor: pointer;
}


/* ####### showcase section ###### */

.showcase {
    padding: 100px 0;
    background: rgba(80, 97, 80, 0.11);
}

.showcase-box {
    display: flex;
    height: 250px;
    background: rgba(197, 204, 200, 0.082);
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.267) 0px 8px 32px;
}

.showcase-box2 {
    flex-direction: row-reverse;
    margin-top: 100px;
}

/* img styling */
.showcase-box img {
    object-fit: cover;
    flex-basis: 50%;
}

/* content styling */
.showcase-box .content-box {
    flex-basis: 50%;
    padding: 20px;
}

.showcase-box .content-box h1 {
    color: rgb(36, 43, 36);
    font-size: 2rem;
    margin-bottom: 8px;
}

.showcase-box .content-box p {
    color: #4b4c4b;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.showcase-box .content-box a {
    position: relative;
    text-decoration: none;
    border: 2px solid rgb(47, 56, 47);
    color: rgb(56, 66, 56);
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 6px 26px;
    transition: color 0.3s;
}

.showcase-box .content-box a::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgb(47, 56, 47);
    top: 0;
    left: 0;
    transition: transform 0.3s;
    transform: scaleY(0);
    transform-origin: top;
}

.showcase-box .content-box a:hover::after {
    transform: scaleY(1);
    transform-origin: bottom;
}

.showcase-box .content-box a:hover {
    color: rgb(219, 223, 221);
}